/* App.css */
.App {
  font-family: 'Roboto', sans-serif;
}

video {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Card {
  transition: transform 0.3s ease;
}

.Card:hover {
  transform: translateY(-5px);
}
